article {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4rem;
}

.div-container {
  background-color: #f7f1b1;
  cursor: pointer;
  text-align: center;
  line-height: 1.6rem;

  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #bebebe;
  transition: .4s cubic-bezier(.25, .2, .25, 1);
}

.div-container:hover {
  box-shadow: 15px 15px 15px #98b4b9;
}


img {
  width: 100%;
}

.div-container span,
h4,
p {
  cursor: default;
}

.div-container p {
  text-align: justify;
  text-indent: 1rem;

  /* esses abaixo funcionam juntos!! */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

span {
  line-height: 0;
  font-size: 12px;
}

@media screen and (max-width: 960px) {
  article {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 668px) {
  article {
    grid-template-columns: auto;
  }
}