section{
  margin: 3rem;
}

.title-section{
  text-align: center;
}

article{
  display: grid;
  grid-template-columns: auto auto auto;
}

.div-container{
  text-align: center;
  padding: 1rem;
  width: auto;
}

img{
  width: 100%;
}

@media screen and (max-width: 960px){
  article{
    display: grid;
    grid-template-columns: auto auto;
  }
}