/*  DESKTOP-FIRST */

/* CORES Base*/
/* background-color: #83A603; VERDE*/
/* background-color: #57bace; AZUL */
/* background-color: #f0ce6a; AMARELO */
/* #FFF */
/* #000 */

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

body {
    background-color: #cbf1f8;
}

p {
    font-size: 16px;
}

header {
    color: #FFF;
    background-image: url(../imagens/background-uns.jpg);
    text-align: center;

    padding: 1.5rem;
}

header h1 {
    font-weight: lighter;
    font-family: 'Fredericka the Great', cursive;
}

nav {
    background-color: #e9c24d;
    margin: 0 20%;
    font-size: 15px;

    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0.3rem 0.8rem;
    align-items: center;
}

nav ul:hover {
    transition: 1s;
    background-color: #c49b20;
}

nav ul a {
    color: #FFF;
}

/* .menu-hamburguer{
    display: ;
}

.linha-menu {
    border: solid  #23616d;
    border-radius: 5px;
    border-width: 2px;
    margin: .3rem;
} */

section {
    margin: 3rem;
}

.container-titulo {
    margin: 3rem auto;
    text-align: center;
    font-weight: bold;
}

footer {
    color: #FFF;
    background-color: #57bace;

    padding: 0.09rem 0;
    margin-bottom: 0;

    text-align: center;
    position: relative;
}

footer p {
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 668px) {
    nav {
        background-color: #e9c24d;
        /* margin: 0 20%; */
        font-size: 15px;

        /* display: flex;
        justify-content: center; */
    }



    /* header > h1{
        display: flex;
        justify-content: flex-start;
    } */
}