/*  DESKTOP-FIRST */

/* CORES */
/* background-color: #83A603; VERDE*/
/* background-color: #57bace; AZUL */
/* background-color: #f0ce6a; AMARELO */

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
}

header {
    color: #FFFFFF;
    background-color: #57bace;
    text-align: center;
    
    padding: 1.5rem;
}
header h1{
    font-family: 'Fredericka the Great', cursive;
}

nav {
    background-color: #f0ce6a;
    margin: 0 35%;

    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0.3rem 0.8rem;
}

nav ul:hover{
    transition: 1s;
    background-color: #c49b20;
}

nav ul a {
    color: #FFF;
}

footer {
    color: #FFF;
    background-color: #57bace;

    padding: 0.09rem 0;
    margin-bottom: 0;

    text-align: center;
    position: relative;
}

footer p{
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    nav{
        display: none;
    }

    header h1{
        text-align: start;
    }
}