div {
    margin-bottom: 6rem;
}

p {
    font-weight: lighter;
    text-align: justify;
}

img{
    max-width: 30rem;
}

.container-right {
    display: flex;
}

.container-left {
    display: flex;
}

.container-right img {
    margin-right: 4rem;
}

.container-left img {
    margin-left: 4rem;
}

@media screen and (max-width: 960px) {
    .container-right {
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
    }
  }